@page "/orderscreen"

<h3>Getcha Some Hose Beast</h3>
<hr />
<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h2>Hoses</h2>
        </div>
        <div class="col-sm-4">
            <h2>Desired Quantity</h2>
        </div>
        <div class="col-sm-4">
            <h2>Subtotals</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Craftsman $@craftsman</p>
        </div>
        <div class="col-sm-4">
            <input type="number" @bind="CraftQty" @bind:event="oninput"/><br />
            <input type="range" step="1" @bind="CraftQty" @bind:event="oninput"/>
        </div>
        <div class="col-sm-4">
            <input type="number" readonly @bind="CraftSubTotal"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>NeverKink $@neverkink</p>
        </div>
        <div class="col-sm-4">
            <input type="number" @bind="KinkQty" @bind:event="oninput" /><br />
            <input type="range" step="1" @bind="KinkQty" @bind:event="oninput" />
        </div>
        <div class="col-sm-4">
            <input type="number" readonly @bind="KinkSubTotal" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Steel $@steel</p>
        </div>
        <div class="col-sm-4">
            <input type="number" @bind="SteelQty" @bind:event="oninput" /><br />
            <input type="range" step="1" @bind="SteelQty" @bind:event="oninput" />
        </div>
        <div class="col-sm-4">
            <input type="number" readonly @bind="SteelSubTotal" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Ultralite $@ultralite</p>
        </div>
        <div class="col-sm-4">
            <input type="number" @bind="UltraQty" @bind:event="oninput" /><br />
            <input type="range" step="1" @bind="UltraQty" @bind:event="oninput" />
        </div>
        <div class="col-sm-4">
            <input type="number" readonly @bind="UltraSubTotal" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Total Price</p>
        </div>
        <div class="col-sm-4">
            <input readonly type="text" @bind="TotalPrice"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" @onclick="CalculateTotalPrice">Calculate Total Price</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-danger" @onclick="NewOrder">New Order</button>
        </div>
    </div>
</div>


@code {
    
}
